.movie-list {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.movie-list article {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.movie-list img {
  width: 200px;
  object-fit: cover;
  margin-right: 20px;
}

.movie-list article p {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}

.movie-list article a {
  height: 42px;
  border-radius: 5px;
  border: 2px solid #0c1c36;
  background: none;
  margin-top: 10px;
  color: #0c1c36;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.movie-list article a:hover {
  background-color: #0c1c36;
  color: #fff;
}

.movie-list .actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.movie-list .actions button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #0c1c36;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.movie-list .actions button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.movie-list .actions button[disabled],
.movie-list .actions button[disabled]:hover {
  opacity: 0.5;
  cursor: not-allowed;
}
